@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:wght@400;500;600&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
}
* {
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width:640px) {
  a.active{
    background-color: rgb(40, 40, 158);
    color: white;
  }
  
}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
